body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.calci{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 2rem;
    text-align: left;background-color: hsl(0,0%,20%);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border:none;
    background-color: hsl(0,0%,30%);
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 30px;
}
.operator_btn{
    background-color: orange;
}
button:hover{
    background-color: hsl(0,0%, 40%);
}
button:hover{
    background-color: hsl(0,0%, 40%);
}